<!DOCTYPE html>
<html lang="sk" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="description" content="Objednavkovy system v1">
    <meta name="keywords" content="Tricka">
    <meta name="author" content="Anton Kostrab">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Odstranena objednavka</title>

</head>
<body>
<h1> Objednavka bola odstranena</h1>

<a href="/">Späť na hlavnú stránku</a>

</body>
</html>